elpa/*
auto-save-list/*
ido.last
network-security.data
transient/*
session.*
xkcd/*
cider-repl.history

eshell/*
eshell/.*
secrets/*
server/*
.mc-lists.el

# emacs-dashboard
recentf
projectile-bookmarks.eld

*~
*#*

